<div class="tab-content">
  <wcs-card>
    <wcs-card-body class="card-header">
      <wcs-mat-icon icon="router"></wcs-mat-icon>
      <h2>Configuration de la configuration Switch</h2>
    </wcs-card-body>
    <wcs-divider></wcs-divider>

    <app-value-checker [variable]="mainService.switchConfiguration" variableName="Configuration Switch" [needsMargin]="true">
      <wcs-card-body class="card-content">
        <form [formGroup]="networkingService.switchConfigForm" class="column-form">
          <formly-form [form]="networkingService.switchConfigForm"
                       [model]="networkingService.switchConfigFormModel"
                       [fields]="switchConfigFormFields"></formly-form>
          <wcs-button [disabled]="!networkingService.switchConfigForm.valid"
                      mode="flat" (click)="networkingService.sendSwitchArchitecture()">
            Envoyer
          </wcs-button>
        </form>
      </wcs-card-body>
      <wcs-divider></wcs-divider>

      <wcs-card-body class="card-content">
        <div class="flex-column">
          <div class="flex-row">
            Switch et architecture en cours :
            <wcs-badge class="wcs-info">{{mainService.switchConfiguration?.type}}</wcs-badge>
            @if (mainService.switchConfiguration?.currentArchitecture?.name) {
              <wcs-badge class="wcs-primary">{{mainService.switchConfiguration.currentArchitecture.name}}</wcs-badge>
            }
          </div>
          <div class="flex-row">Statut connexion API / Switch :<wcs-badge [class]="mainService.switchConfiguration?.connection ? 'wcs-success' : 'wcs-danger'">{{mainService.switchConfiguration?.connection ? "Connecté" : "Déconnecté"}}</wcs-badge></div>
          <div class="flex-row">Statut tâche configuration :<wcs-badge [class]="mainService.switchConfiguration?.connection ? 'wcs-success' : 'wcs-warning'">{{mainService.switchConfiguration?.connection ? "OK" : "En cours"}}</wcs-badge></div>
        </div>
      </wcs-card-body>
      <wcs-divider></wcs-divider>
      <wcs-card-body class="card-content">
        <app-switch [allowConfiguration]="false"></app-switch>
      </wcs-card-body>
    </app-value-checker>
  </wcs-card>
</div>
