.table-etats {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em
}
.table-etats-line {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
}
.table-etats-name {
  font-weight: 500;
  min-width: 20%;
}
