<app-page-header pageName="Equipements réseau" [refreshButton]="true"></app-page-header>
<main>
  <wcs-tabs align="" selectedIndex="1"> <!--TODO : Add the tab gestion-->
    <wcs-tab header="Configuration Avancée Switch">
      <app-advanced-config-switch></app-advanced-config-switch>
    </wcs-tab>
    <wcs-tab header="Configuration Switch">
      <app-simple-config-switch></app-simple-config-switch>
    </wcs-tab>
    <wcs-tab header="Statut Réseau" itemKey="status">
      <app-network-status></app-network-status>
    </wcs-tab>
  </wcs-tabs>
</main>
