<wcs-action-bar gutter="true">
  Equipements réseau
  <div slot="actions">
    <wcs-button shape="round" size="l" class="wcs-warning" (click)="MainService.totalRefreshData()">
      <wcs-mat-icon icon="autorenew"></wcs-mat-icon>
    </wcs-button>
  </div>
</wcs-action-bar>
<main>
  <wcs-tabs align=""> <!--TODO : Add the tab gestion-->
    <wcs-tab header="Statut" itemKey="status">
      <div class="tab-content">
        <wcs-card>
          <wcs-card-body class="card-header">
            <wcs-mat-icon icon="interests"></wcs-mat-icon>
            <h2>Statut des équipements réseau</h2>
          </wcs-card-body>
          <wcs-divider></wcs-divider>
          <wcs-card-body class="devicesGroupCard">
            <ng-container *ngIf="MainService.networkDevices">
              <div *ngFor="let deviceGroup of MainService.networkDevices">
                <wcs-badge class="wcs-primary">{{deviceGroup.des}}</wcs-badge>
                <!--<span class="device-groupe-title">{{deviceGroup.name}}</span>-->
                <div class="devices-div">
                  <div *ngFor="let device of deviceGroup.addresses"
                       [class]="device.IsAlive ? 'device-div connected-device' : 'device-div disconnected-device'"
                       (click)="NetworkingService.openDeviceModal(deviceGroup, device)">
                    <wcs-mat-icon [icon]="device.IsAlive ? 'wifi' : 'wifi_off'"></wcs-mat-icon>
                    <span>{{device.IP}}</span>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!MainService.networkDevices">
              <span><wcs-badge class="wcs-danger">Pas d'équipements réseau...</wcs-badge></span>
            </ng-container>
          </wcs-card-body>
        </wcs-card>
      </div>
    </wcs-tab>

    <wcs-tab header="Version" itemKey="version">

    </wcs-tab>
  </wcs-tabs>

  <wcs-modal [show]="NetworkingService.showModalDeviceInformations">
    <div slot="header" class="header-modal">Informations sur l'équipement</div>
    <wcs-grid [data]="NetworkingService.dataModalDeviceInformations" *ngIf="NetworkingService.dataModalDeviceInformations"
              selection-config="none" >
      <wcs-grid-column path="name" name="Paramètre"></wcs-grid-column>
      <wcs-grid-column path="value" name="Valeur"></wcs-grid-column>
    </wcs-grid>
    <wcs-badge *ngIf="!NetworkingService.dataModalDeviceInformations" class="wcs-danger">
      Aucune données à afficher...
    </wcs-badge>
    <div slot="actions">
      <wcs-button (click)="NetworkingService.showModalDeviceInformations = false">Fini</wcs-button>
    </div>
  </wcs-modal>

</main>
