<wcs-header>
  <img slot="logo" src="./assets/sncf-logo.png" alt="Logo SNCF" routerLink="">
  <h1 slot="title">Banc de configuration S.DOT</h1>
  <div slot="actions" class="actions-div">
    <ng-container [ngSwitch]="CommunicationService.API_WS.readyState">
      <wcs-badge *ngSwitchCase="0" class="wcs-warning">
        <wcs-mat-icon icon="link_off"></wcs-mat-icon>
        Connection en cours
      </wcs-badge>
      <wcs-badge *ngSwitchCase="1" class="wcs-success">
        <wcs-mat-icon icon="link"></wcs-mat-icon>
        Connecté
      </wcs-badge>
      <wcs-badge *ngSwitchCase="2" class="wcs-warning">
        <wcs-mat-icon icon="link_off"></wcs-mat-icon>
        En déconnection
      </wcs-badge>
      <wcs-badge *ngSwitchCase="3" class="wcs-danger disconnected-badge"
                 (click)="CommunicationService.wsConnectToAPI()">
        <wcs-mat-icon icon="link_off"></wcs-mat-icon>
        Déconnecté
      </wcs-badge>
    </ng-container>
    <wcs-select *ngIf="MainService.actualBancConfiguration && MainService.bancConfigurations" placeholder="Configuration" size="m" id="config_select" [value]="MainService.actualBancConfiguration.Name">
      <wcs-select-option *ngFor="let configuration of MainService.bancConfigurations" [value]="configuration.Name">
        {{configuration.Name}}
      </wcs-select-option>
    </wcs-select>
    <div *ngIf="!MainService.actualBancConfiguration || !MainService.bancConfigurations">
      <wcs-badge class="wcs-danger">Impossible de charger les configurations</wcs-badge>
    </div>
  </div>
</wcs-header>
<wcs-nav>
  <wcs-nav-item text="Entrées / Sorties" routerLink="/InputOutput" role="link" data-href="/InputOutput" routerLinkActive="active">
    <wcs-mat-icon icon="hub"></wcs-mat-icon>
  </wcs-nav-item>
  <wcs-nav-item text="Equipements réseau" routerLink="/Networking" role="link" data-href="/Networking" routerLinkActive="active">
    <wcs-mat-icon icon="data_thresholding"></wcs-mat-icon>
  </wcs-nav-item>
</wcs-nav>
<main>
  <router-outlet></router-outlet>
</main>
