<app-page-header pageName="Rétrovision" [refreshButton]="true"></app-page-header>
<main>
  <wcs-tabs align=""> <!--TODO : Add the tab gestion-->
    <wcs-tab header="Statut" itemKey="status">
      <div class="tab-content">
        <wcs-card>
          <wcs-card-body class="card-header"><wcs-mat-icon icon="monitor_heart"></wcs-mat-icon><h2>Etat de la Rétrovision</h2></wcs-card-body>
          <wcs-divider></wcs-divider>
          <wcs-card-body>
            <app-value-checker [variable]="MainService.networkDevices" variableName="Equipements Réseaux">
              <div class="devices-state">
                @for (devicesGroup of MainService.networkDevices; track devicesGroup.family) {
                  @if (devicesGroup.family == 'RetroVision') {
                    @for (device of devicesGroup.addresses; track device.name) {
                      <wcs-button [href]="'http://' + device.IP + '/'"
                                  target="_blank" [class]="device.IsAlive ? 'wcs-success' : 'wcs-danger'" mode="stroked">
                        <wcs-mat-icon icon="link"></wcs-mat-icon>{{device.name}}</wcs-button>
                    }
                  }
                }
              </div>
            </app-value-checker>
          </wcs-card-body>
        </wcs-card>
        <wcs-card>
          <wcs-card-body class="card-header"><wcs-mat-icon icon="monitor_heart"></wcs-mat-icon><h2>Flux direct des caméras</h2></wcs-card-body>
          <wcs-divider></wcs-divider>
          <wcs-card-body>
            <span>User : <b>admin</b> | Mot de passe : <b>sncf!moxa21</b></span>

            <app-value-checker [variable]="MainService.networkDevices" variableName="Equipements Réseaux">
              <div class="devices-state">
                @for (devicesGroup of MainService.networkDevices; track devicesGroup.family) {
                  @if (devicesGroup.family == 'RetroVision') {
                    @for (device of devicesGroup.addresses; track device.name) {
                      @for (service of device.services; track service.url) {
                        @if (service.protocol == 'http/mjpeg') {
                          <wcs-button [href]="service.url"
                                      target="_blank" [class]="device.IsAlive ? 'wcs-success' : 'wcs-danger'" mode="stroked">
                            🎥 {{device.name}}</wcs-button>
                        }
                      }
                    }
                  }
                }
              </div>
            </app-value-checker>
          </wcs-card-body>
        </wcs-card>
      </div>
    </wcs-tab>
  </wcs-tabs>
</main>
