/* You can add global styles to this file, and also import other style files */
@import '~wcs-core/dist/wcs/wcs.css';

body {
  margin: 0;
}

/* Include material icons fonts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/icons/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/icons/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Material Icons Two Tone';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/icons/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/icons/MaterialSymbolsRounded-VariableFont_FILL,GRAD,opsz,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Material Icons Sharp';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/icons/MaterialSymbolsSharp-VariableFont_FILL,GRAD,opsz,wght.ttf') format('truetype');
}

/*Include SNCF fonts*/
@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-lighter.woff");
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-book.woff");
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-black.woff");
  font-weight: 900;
}

.formly-group-flex-col-with-gap {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--wcs-base-margin) * 2);
}

.grid-auto-column {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.column-gap-x-2 {
  column-gap: calc(var(--wcs-base-margin) * 2);
}

wcs-mat-icon {
  user-select: none;
}

.column-form {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}

.row-form {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.tab-content {
  margin-top: 1em;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}
.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.fit-content {
  width: fit-content;
}
h2 {
  margin: 0.3em 0;
}
